.how-to {
  .step-number {
    font-size: 2rem;
    font-weight: bold;
    color: #0074c7;
  }
  .card {
    border-color: #0074c7;
  }
}
.artisans-of-the-month {
  .card {
    border-color: #f1f8fc;
  }
}
.stars {
  color: lightgray;
}
.filled {
  color: #0074c7;
}