.how-to {
  .step-number {
    font-size: 2rem;
    font-weight: bold;
    color: #0074c7;
  }
  .card {
    border-color: #0074c7;
  }
}

.artisans-of-the-month {
  .card {
    border-color: #f1f8fc;
  }
}

.stars-filled {
  color: gold; /* Ou toute autre couleur de jaune que tu préfères */
  font-size: 1.5em; /* Ajuste la taille si tu veux */
}